version: "3.3"

services:
  compilers:
    build:
      context: compilers-image
      dockerfile: Dockerfile
    container_name: compilers-image
    cap_add:
      - SYS_PTRACE
    stdin_open: true
    tty: true
    volumes:
      - <mount_path>:/compilers
    ports:
      - "127.0.0.1:2232:22"
